.roda-pe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
}

.roda-pe .container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--separator-color);
  border-bottom: 1px solid var(--input-border-color);
  padding-top: 64px;
  padding-bottom: 28px;
}

.roda-pe__conteudo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 190px;
}

.roda-pe__esquerda {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.roda-pe__esquerda p {
  max-width: 270px;
}

.roda-pe .redes__sociais {
  display: flex;
  gap: 16px;
}

.roda-pe__nav {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-grow: 1;
}

.roda-pe__nav h4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 24px;
}

.roda-pe__nav ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.roda-pe__nav li {
  font-weight: 400;
  font-size: 0.875rem;
}

.roda-pe__nav li {
  text-transform: capitalize;
}

/* Celulares e tablets*/
@media screen and (max-width: 991px) {
  .roda-pe__conteudo {
    width: 100%;
    flex-direction: column;
    gap: 40px;
  }

  .roda-pe__conteudo p {
    max-width: 100%;
  }

  .roda-pe__esquerda {
    gap: 12px;
    margin-top: 0;
  }

  .roda-pe .redes__sociais {
    padding: 0;
  }

  .roda-pe__nav {
    flex-direction: column;
    gap: 24px;
  }
}

/* Celulares na horizontal e tablets */
@media screen and (min-width: 576px) and (max-width: 991px) {
  .roda-pe__nav {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}

/* Telas grandes */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .roda-pe__nav {
    width: 100%;
    flex-wrap: wrap;
  }
}
