.great-digital{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container2{
  display: flex;
  justify-content: space-between;
}

.great-digital__video {
  flex-grow: 1;
  width: 100%;
  border-radius: 50px;
}

.container2 .circulo-bege {
  position: relative;
  top: 300px;
  left: 560px;
  z-index: -1;
}

.great-digital__conteudo {
  flex-direction: column;
  flex-grow: 2;
}

.container2 .borda-arredondada-azul{
  position: relative;
  top: 52px;
  left: 118px;
  z-index: -1;
}

.great-digital__conteudo h2 {
  margin-top: -114px;
  width: 70%;
  margin-left: 124px;
}

.great-digital__conteudo p {
  margin-top: 2%;
  width: 70%;
  margin-left: 124px;
}