.great-digital .container2 {
  display: flex;
}

.great-digital__conteudo {
  flex-direction: column;
  flex-grow: 2;
}

.great-digital__conteudo h2 {
  margin-top: 128px;
  width: 60%;
}

.container2 .circulo-bege {
  position: relative;
  top: 320px;
  left: 650px;
  z-index: -1;
}
