.great-digital {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 120px;
}

.great-digital .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.great-digital .video {
  position: relative;
  width: min(550px, 100%);
}

.great-digital__video {
  width: 100%;
  border-radius: 32px;
}

.great-digital .container .circulo-bege {
  position: absolute;
  z-index: -1;
  right: -31px;
  bottom: -64px;
}

.great-digital__conteudo {
  width: 570px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 30px;
}

.great-digital .container .borda-arredondada-azul {
  position: absolute;
  top: -24px;
  left: -39px;
  z-index: -1;
}

.great-digital__conteudo h2 {
  width: 90%;
}

/* Celulares 0px - 767px */
@media screen and (max-width: 767px) {
  .great-digital .container {
    flex-direction: column-reverse;
  }

  .great-digital__conteudo {
    width: 100%;
  }
}
