.subscribe {
    padding-top: 400px;
    padding-bottom: 3rem;
}

.subscribe__conteudo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 101px;
}

.subscribe__conteudo h2{
    margin-left: 75px;
}

.subscribe__conteudo p{
    padding-top: 1rem;
    margin-left: 75px;
}

.subscribe__conteudo__submit{
    position: absolute;
    z-index: 1;
    margin-left: 265px;
    margin-top: 8px;
}

.subscribe__conteudo__email{
    position: relative;
    z-index: 0;
    padding-inline: 160px;
    width: 84%;
}

.subscribe .retangulo-med-azul{
    position: relative;
    top: -180px;
    left: 680px;
    z-index: -1;
}

.subscribe .retangulo-log-azulceu{
    position: relative;
    top: -480px;
    z-index: -2;
}

.subscribe .retangulo-arredondado-amarelo{
    position: relative;
    top: -623px;
    left: -40px;
    z-index: -3;   
}

.subscribe .pontos-azul-ciano{
    position: relative;
    top: -861px;
    left: 882px;
    z-index: -4;
}

